body {
margin: 0;
padding: 0;
}

.nav-bar{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
}

.nav-bar .spotify-logo {
    height: 50px;
    margin-left: 30px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    width: 15%;
    margin-right: 30px;
}

.music-for-everyone {
    color: white;
    background-image: url("../images/landing.jpg");
    width: 100%;
    margin-top: 50px;
    height: 650px;
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

.music-for-everyone {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.whats-on {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
}

.whats-on img {
    height: 100px;
}

.whats-on p {
    font-size: 1rem;
}



/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
